@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Major+Mono+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5eaee;
    font-family: 'Major Mono Display', monospace;
}
#calculator {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    background: #f2f3f7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  #calc-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f9f9f9;
  }

 #calc-area > span{
  font-family: 'Baloo 2', cursive;
  text-transform: uppercase;
 }
  
  #calc-area > span,
  #calc-area > textarea {
    display: inline-flex;
    flex: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #calc-area > textarea {
    outline: none ;
    min-height: 60px;
    resize: none;
    font-size: 1.8em;
    letter-spacing: 2.5px;

  }
  
  #calc-area > span {
    font-size: 2em;
  }
  
  #buttons-area {
    padding: 10px 0 0;
  }
  
  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-group > span {
    display: inline-flex;
    flex: 1 1;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    margin: 4px;
    border-radius: 25px;
    color: #fff;
    font-size: 2em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    user-select: none;
    transition: all 0.2s ease;
    opacity: 0.8;
    cursor: pointer;
  }
  .button-group > span:active{
    box-shadow: none;
  }

 
  
  .button-group > span.calc {
    flex: 2.5;
    border-radius: 7px;
    background: #f44336;
  }
  
  .button-group > span:hover {
    opacity: 1;
  }

  .button-group .non-num{
    background: #dee8f5;
    color: #000;
    opacity: 1;
  }

  .button-group .num{
    background: #fff;
    color: #000;
    opacity: 1;
  }

